:root {
  --clear-fonts: Arial, Helvetica, sans-serif;
  --top-and-right-margins: 3vh 0 0 3vw;
  --round-borders: 4px;
  --top-and-bottom-block-background-color: #efdecd;
  --button-color: #3882f6;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
}

.photo,
.photo-logo-block,
.logo-block {
  width: 500px;
}

.photo-logo-block {
  display: flex;
  height: 100vh;
}

.logo-block,
.logo {
  height: 100px;
}

.logo-block {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 160px;
  display: flex;
  justify-content: center;
}

.logo,
.logo-text {
  align-self: center;
}

.logo-text {
  margin: 0;
  color: white;
  font-size: 1.8rem;
  font-family: var(--clear-fonts);
}

.logo {
  height: 80%;
}

.text-block {
  height: 260px;
  font-size: 1.5vw;
  font-family: var(--clear-fonts);
  background-color: var(--top-and-bottom-block-background-color);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.p1,
.p2 {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  background-color: var(--top-and-bottom-block-background-color);
}

.p1 {
  padding-top: 80px;
  padding-right: 300px;
}

.p2 {
  padding-top: 0;
}

form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  margin: var(--top-and-right-margins);
}

.form-block {
  position: relative;
  z-index: 100;
  box-shadow: 0 6px 2px -2px darkgray;
  padding-bottom: 40px;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  column-gap: 100px;
}

legend,
label[for] {
  color: #1f2937;
  font-family: var(--clear-fonts);
}

label[for] {
  font-size: 0.7rem;
  font-weight: 600;
}

legend {
  font-size: 1.6vw;
  font-weight: bold;
}

input[type],
input:focus {
  border-radius: var(--round-borders);
}

input[type] {
  border: 2px solid #e5e7eb;
  width: 100%;
  height: 60%;
}

input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 1px 1px 1px 1px darkgray;
}

span.password-match {
  font-size: 0.8rem;
  position: absolute;
  top: 220px;
}

.submit-signup-block {
  position: relative;
  z-index: 10;
  background-color: var(--top-and-bottom-block-background-color);
  height: 29vh;
}

.padding-container {
  padding: var(--top-and-right-margins);
}

.submit-button,
.log-in {
  font-weight: bold;
}

.submit-button {
  background-color: var(--button-color);
  color: white;
  padding: 1.5vh 2.5vw;
  font-family: var(--clear-fonts);
  border: none;
  border-radius: var(--round-borders);
}

.p3 {
  font-family: var(--clear-fonts);
  font-size: 0.9rem;
  font-weight: 500;
}

.log-in {
  color: var(--button-color);
}
